<div class="mx-20 my-10 min-h-128 flex justify-between">
  <div class="min-w-sm w-3xl flex justify-center flex-col font-sans">
    <div class="flex flex-col justify-center">
      <div class="mx-2 py-2 font-bold text-6xl">{{ title }}</div>
      <div class="mx-4 py-2 text-xl">{{ subtitle }}</div>
    </div>
    <div class="mx-3 py-4 text-lg text-justify">{{ content }}</div>
  </div>
  <div class="min-w-md flex justify-center items-center">
    <img class="max-w-md" src="dev.jpg" alt="*Insert smart dev here" />
  </div>
</div>
